[Desktop Entry]
Type=Application
Name=Fablicator
GenericName=Printer Interface
Comment=Controls your 3D printer
Icon=/home/fablicator/FablicatorSoftware/Fablicator/fablicator_logo.png
Exec=bash -c "~/FablicatorSoftware/Fablicator/fablicator %F;$SHELL"
Path=/home/fablicator/FablicatorSoftware/Fablicator/
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;Graphics;3DGraphics;
MimeType=application/sla;model/x.stl-binary;model/x.stl-ascii;text/x.gcode;
